[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "languageserver"]
	path = languageserver
	url = https://github.com/reditorsupport/languageserver
	shallow = true
	registered = true
